$c: #69e;

body {
	font-family: "adobe-garamond-pro";
	font-size: 1.1em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	padding-top: 100vh;
	color: #333;
}

p {
	font-size: 130%;
	line-height: 1.4;
}

::selection {
	background: rgba(0, 0, 0, 0.05);
}

a {
	color: $c;
	text-decoration: none;
	outline: none;

	&:hover {
		color: darken($c, 15%);
	}

	&:focus {
		background: $c;
		color: #fff;
	}
}

#masthead {
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #333;
	line-height: 1;

	h1 {
		margin: 0.7em 0 2em 0;
		font-weight: normal;
		font-size: 64px;
	}

	.minet-circle {
		font-family: "azo-sans-web";
		font-weight: 100;
		margin: 80px auto 0 auto;
		font-size: 125px;
		border: 3px solid #333;
		cursor: default;
		-webkit-user-select: none;
		border-radius: 100%;
		width: 200px;
		height: 200px;
		line-height: 195px;
	}

}

	.buttonset {

		position: absolute;
		left: 0;
		right: 0;
		bottom: 50px;
		text-align: center;

		a {
			display: inline-block;
			border: 2px solid #69e;
			padding: 20px 35px;
			border-radius: 5px;
			font-family: "calluna-sans", sans-serif;
			text-transform: uppercase;
			margin: 0 10px;

			&:hover {
				border-color: darken($c, 15%);
			}

			&.secondary {
				color: #aaa;
				border-color: #aaa;

				&:hover {
					border-color: #888;
					color: #888;
				}

				&:focus {
					background: #aaa;
					color: #fff;
				}
			}
		}

	}

#primaryNav {

	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	text-align: center;
	font-family: "calluna-sans", sans-serif;
	text-transform: uppercase;

	ul {
		list-style: none;
		padding: 0;

		li {
			display: inline-block;

			a {
				margin: 0 25px;
			}
		}
	}

}

.container {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}

.small-container {
	width: 500px;
	text-align: center;
}

.none {
	display: none;
}

/*h2 {
	font-size: 100%;
	font-weight: normal;
	color: #888;
	font-family: "calluna-sans", sans-serif;
	text-transform: uppercase;
}*/

@media(max-height: 600px) {

	* {
		position: static !important;
		transform: none !important;
	}

	body {
		padding-top: 30px;
	}

	#schedule table, #schedule .toggle-days {
		display: none;
	}
	#schedule .none {
		display: block;
	}

}

@media(max-width: 965px) {

	* {
		position: static !important;
		transform: none !important;
	}

	.container {
		width: 90% !important;
	}

}

@media(max-width: 600px) {

	.half, .r {
		width: 100% !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	.event {
		border: none !important;
		padding: 0 !important;
	}

	.card {
		width: 100% !important;
		margin: 0 0 10px 0 !important;
	}

	.buttonset a {
		display: block;
		margin-bottom: 10px;
	}

	#primaryNav ul li {
		display: block;

		a {
			display: block;
			margin-bottom: 10px;
		}
	}

}

form {

	input, select, textarea {
		padding: 10px 20px;
		border-radius: 5px;
		font-family: "calluna-sans", sans-serif;
		text-transform: uppercase;
		display: block;
		width: 350px;
		max-width: 95%;
		border: 2px solid #ccc;
		outline: none;
		margin: 10px auto;

		&:focus {
			border-color: $c;
		}

		&[type="submit"] {
			background: none;
			border-color: $c;
			color: $c;

			&:hover {
				border-color: darken($c, 15%);
				color: darken($c, 15%);
			}

			&:focus {
				background: $c;
				color: #fff;
			}
		}
	}

	textarea {
		padding: 20px;
	}

}

section {
	width: 500px;
	max-width: 95%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

h1 {
	font-weight: normal;
	margin-top: 0;
	text-align: center;
	font-size: 400%;
}

.close {
	position: fixed;
	right: 40px;
	top: 20px;
	color: #aaa;
	font-size: 300%;
	cursor: pointer;

	&:hover {
		color: $c;
	}
}
.closebtn {
	display: none;
}

#ajax {
	display: none;
}

.event {
	border-bottom: 1px solid #eee;
	padding: 20px 0;
	
	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		border-bottom: none;
	}
}

.x {
	&:before {
		margin-right: 20px;
		content: "X";
		font-family: "azo-sans-web";
		font-weight: 100;
		font-size: 80%;
		width: 70px;
		display: inline-block;
		border-radius: 100%;
		border: 1px solid #333;
	}
}

.half {
	text-align: left;
	width: 50%;
	padding-right: 30px;
	float: left;

	&.r {
		padding-left: 30px;
		float: right;
	}
}

h3 {
	color: #666;
	font-weight: normal;
	font-family: "calluna-sans", sans-serif;
	text-transform: uppercase;
}

article {

	padding: 50px 0 100px 0;

	h1 {
		padding-top: 50px;
	}
}

img.full {
	margin-top: 20px;
	width: 100%;
}
.cf {
	clear: both;
}

#schedule table {
	margin-bottom: 40px;
	width: 100%;
	font-size: 120%;
	background: #fff;

	&:last-of-type {
		display: none;
	}

	&.nine {
		td, th {
			width: 11.1111111111%;
		}
	}

	th, td:first-of-type {
		color: #666;
		font-weight: normal;
		font-family: "calluna-sans", sans-serif;
		text-transform: uppercase;
		font-size: 78%;
	}

	td, th {
		text-align: center;
		padding: 10px;
		border: 1px solid #eee;
	}
}

.toggle-days {

	margin-bottom: 30px;
	text-align: center;

	span {
		display: inline-block;
		margin: 0 -3px;
		border: 1px solid #eee;
		font-weight: normal;
		font-family: "calluna-sans", sans-serif;
		text-transform: uppercase;
		font-size: 80%;
		width: 100px;
		padding: 5px 25px;
		cursor: pointer;
		background: #fff;

		&.active {
			background: $c;
			color: #fff;
			border-color: darken($c, 5%);
		}

		&:first-child {
			border-radius: 5px 0 0 5px;
		}
		&:last-child {
			border-radius: 0 5px 5px 0;
		}
	}

}

.gray {
	background: #f9f9f9;
	border: 1px solid #eee;
}

h2 {
	font-weight: normal;
	margin: 0 0 -15px 0;
	font-size: 125%;
}

.card {

	background: #fff;
	float: left;
	width: 31.333333333%;
	margin-right: 3%;
	font-size: 95%;
	border: 1px solid #eee;
	border-radius: 3px;
	border-bottom-width: 2px;
	padding: 15px 15px 10px 15px;
	color: inherit;
	transition: background 0.3s;
	margin-bottom: 30px;

	&:hover {
		background: #f5f5f5;
		color: inherit;
	}

	h3 {
		font-size: 80%;
		margin-top: 15px;
	}

	h2 {
		margin-top: 13px;
	}

	img {
		float: left;
		height: 75px;
		width: 75px;
		border: 4px solid #eee;
		margin-right: 20px;
		border-radius: 100%;
	}

	&:nth-of-type(3n) {
		margin-right: 0;
	}

}

.view-all-members {

	text-align: center;
	font-weight: normal;
	font-family: "calluna-sans", sans-serif;
	text-transform: uppercase;
	font-size: 90%;

}

.button {
	display: inline-block;
	border: 2px solid #69e;
	padding: 20px 35px;
	border-radius: 5px;
	font-family: "calluna-sans", sans-serif;
	text-transform: uppercase;
	font-size: 80%;
	margin: 50px 0;
}

.members {
	line-height: 2;

	span {
		color: #aaa;
	}
}

#travel {
	height: 600px;
}

article ul {
	font-size: 130%;
	line-height: 1.4;
	list-style: disc;
}

#x {
	padding-bottom: 80px;
}

.prompt {
	font-family: "calluna-sans", sans-serif;
	text-transform: uppercase;
	font-size: 84%;
}

.make.logo {

	img {

		height: 200px;
		margin-bottom: 0;
		margin-left: 60px;

	}

}

.calluna-caps {

	// font-family: "calluna-sans", sans-serif;
	// text-transform: uppercase;
	// font-weight: 400;

}