@font-face {
  font-family: "MINET font";
  src: url("../fonts/minet.eot");
  src: url("../fonts/minet.eot?#iefix") format("embedded-opentype"), url("../fonts/minet.woff2") format("woff2"), url("../fonts/minet.woff") format("woff"), url("../fonts/minet.ttf") format("truetype"), url("../fonts/minet.svg#virgo_01regular") format("svg");
  font-weight: normal;
  font-style: normal; }
::selection {
  background: #69e;
  color: #fff; }

::-moz-selection {
  background: #69e;
  color: #fff; }

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

body {
  text-rendering: optimizeLegibility;
  font-family: "rooney-sans", "Helvetica", "Lucida Sans", sans-serif;
  font-size: 157%; }

a {
  color: #69e;
  text-decoration: none;
  border-bottom: 1px solid #aaa; }

h1, h2, h3, h4, h5, h6 {
  font-family: "adobe-garamond-pro", "Garamond", "Georgia", serif; }

a:hover {
  border-color: #69e; }

.love {
  color: #f7403a; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.handletter, .mob-logo {
  font-family: "MINET font", sans-serif;
  line-height: 75px;
  border: none;
  color: #6699ee;
  font-size: 190%; }

.full {
  height: 100vh; }

section {
  padding: 6vh 0;
  border-bottom: 1px solid #eee; }

section.grey {
  background: #f8f8f8; }

.handletter, .mob-logo {
  font-family: "MINET font", sans-serif;
  line-height: 75px;
  border: none; }

header {
  padding-top: 10px; }

header, footer {
  background: #fff;
  height: 70px;
  line-height: 70px; }

footer a {
  border-bottom: none; }

header nav ul, header nav li, footer nav ul, footer nav li {
  list-style: none;
  margin: 0; }

header nav li, footer nav li {
  display: inline-block; }

header nav li a, footer nav li a {
  padding: 0 25px;
  color: inherit;
  height: 90px;
  display: block;
  border: none; }

header nav li:last-child a, footer nav li:last-child a {
  margin-right: 0; }

header nav li a:hover, footer nav li a:hover {
  border: none;
  color: #69e; }

.active a, .active a:hover {
  border-color: #69e; }

.mob-logo {
  display: none;
  color: #69e;
  line-height: inherit; }

@media (max-width: 960px) {
  header {
    border-bottom: 1px solid #ddd; }

  nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    overflow-x: auto;
    white-space: nowrap;
    text-align: left;
    background: #fff;
    z-index: 9000; }

  header nav li:last-child a {
    margin-right: 25px; }

  header nav a:hover {
    color: inherit;
    border-bottom: 1px solid #eee; }

  footer {
    display: none; }

  header, footer {
    line-height: 1.5;
    height: auto; }

  header nav li a, footer nav li a {
    height: auto !important;
    padding: 15px 30px; }

  header .left {
    display: none; }

  .mob-logo {
    display: inline-block; } }
.hero {
  text-align: center;
  padding: 105px 0 135px 0; }
  .hero ul li {
    display: inline-block;
    list-style: none;
    text-align: center;
    margin-right: 2.5%; }
  .hero .hero-text {
    font-size: 400%;
    margin-bottom: 7.5px; }
  .hero img.logo {
    height: 160px;
    margin: 15px 0 60px 0; }
  .hero h4 {
    color: #aaa;
    font-weight: 100;
    margin-top: 0; }
  .hero ul.cta {
    margin-top: 50px; }
  .hero button {
    font-size: 0.8em;
    font-weight: 100;
    padding: 5px 30px;
    height: auto;
    width: auto;
    font-weight: 100;
    border: 1.5px solid; }
    .hero button a {
      text-decoration: none;
      border-bottom: none;
      color: inherit;
      font-family: "rooney-sans", "Helvetica", "Lucida Sans", sans-serif; }
  .hero button.primary {
    background: transparent;
    color: #69e;
    border-color: #69e; }
  .hero button.grey-btn {
    color: #aaa;
    border-color: #aaa; }
  .hero button.primary:hover {
    color: #fff;
    background: #69e; }
  .hero button.grey-btn:hover {
    color: #737373;
    border-color: #737373; }
  .hero button:first-of-type {
    margin-right: 15px; }

section#make img.make-logo {
  height: 250px; }
section#make p.low-contrast {
  font-size: 95%;
  width: 85%;
  color: #aaa;
  margin: 0 auto; }

section#schedule h3 {
  text-align: center; }
section#schedule a {
  color: inherit; }
section#schedule ul.events-container li.event {
  list-style: none;
  display: block;
  padding: 4%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 4%;
  width: 90%; }
  section#schedule ul.events-container li.event p.event-name {
    font-size: 130%;
    margin: 0 0 5px 0; }
  section#schedule ul.events-container li.event p.event-info {
    margin: 0;
    color: #aaa; }
section#schedule ul.events-container li.event:hover {
  background: #f2f2f2; }

#team .member {
  padding: 4%;
  background: #fff;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.05); }
  #team .member .dp-container, #team .member .info-container {
    display: inline-block; }
  #team .member .dp-container {
    margin-right: 10px; }
    #team .member .dp-container img {
      border-radius: 50px; }
  #team .member h5, #team .member h6 {
    margin: 0; }
  #team .member h5 {
    letter-spacing: 0.05px; }
  #team .member h6 {
    font-family: "rooney-sans", "Helvetica", "Lucida Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px; }

#travel .container-lg {
  width: 100%;
  max-width: 1200px;
  box-shadow: 2px 3px 2px 1px rgba(0, 0, 0, 0.04);
  margin: 0 auto;
  height: 600px;
  background: #fff; }
  #travel .container-lg .row {
    margin: 0;
    padding: 0; }
  #travel .container-lg .one-fourth.columns {
    width: 35%;
    padding: 2.5%; }
  #travel .container-lg .three-fourth.columns {
    width: 65%; }
  #travel .container-lg .columns {
    margin: 0;
    padding: 0; }
  #travel .container-lg iframe {
    width: 100%;
    margin: 0 !important; }
#travel p.links {
  display: block;
  margin-top: 0; }

footer {
  height: 70px;
  line-height: 70px; }
  footer a {
    color: #000;
    border: none; }
  footer a:hover {
    color: #69e; }

.events section:nth-child(2n+1) {
  background: #f5f5f5; }

@media screen and (max-width: 1000px) {
  .container-lg {
    height: auto; }
    .container-lg .one-fourth.columns {
      padding: 5%; }
    .container-lg .columns {
      display: block !important;
      width: 100% !important; } }
