//declaring variables again because SCSS vars don't work with client-side media queries.
$minet-blue: #69e;
$hover-color: #216be6;
$alternate-bg-color: #fafafa;
$white: #fff;
$border-bottom-color: #eee;

@media (max-width: 960px) {
	header {
		border-bottom: 1px solid $border-bottom-color;
	}
	nav {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		overflow-x: auto;
		white-space: nowrap;
		text-align: left;
		background: $white;
		z-index: 9000;
	}
	header nav li:last-child a {
		margin-right: 25px;
	}
	header nav a:hover {
		color: inherit;
		border-bottom: 1px solid $border-bottom-color;
	}
	footer {
		display: none;
	}
	header, footer {
		line-height: 1.5;
		height: auto;
	}
	header nav li a, footer nav li a {
		height: auto !important;
		padding: 15px 30px;
	}
	header .left {
		display: none;
	}

	.mob-logo {
		display: inline-block;
	}
}

@media screen and (max-width: 1000px){
	.container-lg {
		height: auto;
		.one-fourth.columns {
			padding: 5%;
		}
		.columns {
			display: block !important;
			width: 100% !important;
		}
	}
}