//declaring variables again because SCSS vars don't work with client-side media queries.
$minet-blue: #69e;
$hover-color: #216be6;
$alternate-bg-color: #fafafa;
$white: #fff;
$border-bottom-color: #eee;

@media (max-width: 1200px) {

}

@media (max-width: 1150px) {

	body#home {
		section#make {
			.one-half img {
				margin-top: 35px;
			}
		}
		section#x {
			.one-half img {
				margin-top: 80px;
			}
		}
	}

	body#schedule {
		section#schedule-table {
			table {
				td, th {
					padding: 10px 5px;
					&.mod {
						padding: 10px 7.5px;
					}
				}
			}
		}
	}

}

@media (max-width: 1000px) {
	header {
		padding-top: 0;
		a {
			font-size: 95%;
			height: auto;
		}
	}
	nav {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		overflow-x: auto;
		white-space: nowrap;
		text-align: left;
		background: $white;
		z-index: 9000;
		border-bottom: 1px solid $border-bottom-color;
		.mob-logo {
			display: inline-block;
			font-size: 140%;
		}
	}
	header nav li:last-child a {
		margin-right: 25px;
	}
	footer {
		display: none;
	}
	header nav li a, footer nav li a {
		height: 30px !important;
		line-height: 30px !important;
	}
	header .left {
		display: none;
	}
	body#home {
		section.hero {
			padding-top: 4rem;
			img.logo {
				margin-top: 0px;
				margin-bottom: 30px;
				height: 130px;
			}
			h1.hero-text {
				margin-top: 0;
				font-size: 300%;
			}
			span.br {
				display: block;
			}
			button {
				margin-bottom: 10px;
				&.primary {
					width: 229px;
				}
			}
		}
		section#x {
			.one-half {
				img {
					margin-top: 100px;
					// margin-bottom: 50px;
				}
			}
		}
		section#make {
			.one-half img {
				margin-top: 75px;
			}
		}
	}
	body#events {
		section {
			.one-half.column {
				margin: 0;
				width: 100%;
				&:first-child {
					margin-bottom: 2rem;
				}
				&.technical {
					h2 {
						display: none;
					}
				}
			}
		}
	}
	body#schedule {
		section#schedule-table {
			table {
				margin: 0 auto;
				&.selected {
					display: inline-block;
				}
				td, th {
					padding: 7.5px 7.5px;
					font-size: 90%;
					&.mod {
						padding: 7.5px 7.5px;
						font-size: 110%;
					}
				}
			}
		}
	}
	section#top-info {
		.seven {
			width: 100% !important;
		}
	}
}

@media screen and (max-width: 840px){
	body#travel {
		section.travel {
			.container-lg {
				width: 100%;
				height: auto;
				background: #fafafa;
				.one-fourth.columns {
					padding: 5%;
				}
				.columns {
					display: block !important;
					width: 100% !important;
				}
			}
		}
	}
}

@media (max-width: 810px) {
	footer {
		padding: 20px 0 25px 0;
		text-align: center;
		.column {
			line-height: 40px;
			width: 100% !important;
			text-align: center;
			margin: 0;
		}
		.right {
			// text-align: center;
		}
	}
	body#home {
		section#x {
			.one-half img {
				margin-top: 110px;
			}
		}
		section#make {
			.one-half img {
				margin-top: 115px;
			}
		}
	}
	body#schedule {
		section#schedule-table {
			table {
				margin: 0 auto;
				&.selected {
					display: inline-block;
				}
				td, th {
					padding: 5px 5px;
					font-size: 80%;
					&.mod {
						padding: 10px 5px;
						font-size: 100%;
					}
				}
			}
		}
	}
}

@media (max-width: 750px) {
	body#home {
		section#x {
			.one-half.column {
				width: 100%;
			}
			.one-half img {
				height: 145px;
				margin: 20px auto 40px auto;
			}
		}
		section#make {
			.one-half.column {
				width: 100%;
			}
			.one-half img {
				max-width: 35%;
				margin: 20px auto 20px auto;
			}
		}
	}
	body#schedule {
		section#schedule-table {
			display: none;
		}
	}

}

@media (max-width: 550px) {

}

@media (max-width: 400px) {

}