//declaring variables again because SCSS vars don't work with client-side media queries.
$minet-blue: #69e;
$hover-color: #216be6;
$alternate-bg-color: #fafafa;
$white: #fff;
$border-bottom-color: #eee;

@media (max-width: 960px) {
	header {
		padding-top: 0;
	}
	footer {
		text-align: center;
		.column {
			line-height: 55px;
		}
		.right {
			text-align: center;
		}
	}
	nav {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		overflow-x: auto;
		white-space: nowrap;
		text-align: left;
		background: $white;
		z-index: 9000;
		border-bottom: 1px solid $border-bottom-color;
		.mob-logo {
			display: inline-block;
			font-size: 140%;
		}
	}
	header nav li:last-child a {
		margin-right: 25px;
	}
	header nav a:hover {
		color: inherit;
		border-bottom: 1px solid $border-bottom-color;
	}

	header, footer {
		line-height: 1.5;
		height: auto;
	}
	header nav li a, footer nav li a {
		height: auto !important;
		padding: 15px 30px;
	}
	header .left {
		display: none;
	}
	body#home {
		section.hero {
			padding-top: 4rem;
			img.logo {
				margin-top: 0px;
				margin-bottom: 30px;
				height: 150px;
			}
			h1.hero-text {
				margin-top: 0;
				font-size: 390%;
			}
			span.br {
				display: block;
			}
			button {
				margin-bottom: 10px;
				&.primary {
					width: 229px;
				}
			}
		}
		section#x {
			.one-half {
				img {
					margin-top: 0;
					margin-bottom: 50px;
				}
			}
		}
	}
	.technical {
		display: none;
	}
	#events {
		section {
			.one-half:first-child {
				margin-bottom: 4rem;
			}
		}
	}
}

@media screen and (max-width: 1020px){
	body#travel {
		section.travel {
			.container-lg {
				height: auto;
				.one-fourth.columns {
					padding: 5%;
				}
				.columns {
					display: block !important;
					width: 100% !important;
				}
			}
		}
	}
}